<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">


    <application>
        <!-- hilt-managed fragment should be attached to a hilt-managed Activity-->
        <activity android:name=".HiltTestActivity"
            android:exported="false"/>
    </application>

</manifest>